.wrapper {
  width: 100%;
}

.postContainer {
  padding: 10px;
}

h1.postTitle {
  margin-bottom: 10px;
}

figure.featureImageContainer {
  width: 100%;
  height: auto;
}

.postText p {
  margin: 1rem 0;
}

.excerpt {
  margin-bottom: 0.5rem;
}

.authorBox {
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  .postText p {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1200px) {
  figure.featureImageContainer {
    width: calc(100% + 200px);
    margin: 36px -100px;
  }
}
