.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbarContainer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  border-width: 3px;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-style: double solid solid double;
  border-color: var(--primary-color);
  padding: 5px 10px;
  background: var(--secondary-color);
  color: var(--body-bg);
}

.navbarContainer li a {
  font-family: var(--primary-font);
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 700;
}

.navbarContainer li a:hover {
  text-decoration: underline;
}
